<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 1</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="#">Prog. y Servicios Web</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-dark"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/musica">TEMAS MUSICALES</a>
              <a class="nav-link" href="/cotizacion">COTIZACION</a>
              <a class="nav-link" href="/horoscopo">HOROSCOPO</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="container-fluid">
        <header class="row border border-dark  bg-dark-subtle" style="height: 30px;">MENU</header>
        <section class="bg-info row">
                <article class="col-md-6 border border-dark" style="height: 75px;">IMG1</article>
                <article class="col-md-6 d-none d-md-block border border-dark" style="height: 75px;" >IMG2</article>
                <article class="col-md-12 border border-dark" style="height: 75px;">IMG3</article>
        </section>
        <section class="bg-warning row">
            <artcile class="col-md-3 col-sm-4 col-6 border border-dark">ART</artcile>
            <artcile class="col-md-3 col-sm-4 col-6 border border-dark">ART</artcile>
            <artcile class="col-md-3 col-sm-4 col-6 border border-dark">ART</artcile>
            <artcile class="col-md-3 col-sm-4 col-6 border border-dark">ART</artcile>
            <artcile class="col-md-3 col-sm-4 col-6 border border-dark">ART</artcile>
            <artcile class="col-md-3 col-sm-4 col-6 border border-dark">ART</artcile>
            <artcile class="col-md-3 col-sm-4 col-6 border border-dark">ART</artcile>
            <artcile class="col-md-3 d-sm-none d-md-block col-6 border border-dark">ART</artcile>
        </section>
        <footer class="row border border-dark bg-success" style="height: 60px;">FOOTER</footer>
      </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>