<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOROSCOPO</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body style="background-image: url('/img/horoscopo-fondo.jpg'); background-size: cover;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Prog. y Servicios Web</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-dark"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/" target="_blank">PAGINA1</a>
            <a class="nav-link" href="/musica">MUSICA <i class="bi bi-music-note-list"></i></a>
            <a class="nav-link" href="/cotizacion">COTIZACION<i class="bi bi-currency-dollar"></i></a>
            <a class="nav-link active" href="/horoscopo">HOROSCOPO <i class="bi bi-h-square"></i></i></i></a>
        </div>
      </div>
    </div>
  </nav>
    <div class="container p-0">
        <section class="row align-items-end mt-5 mb-5">
          <h2 class="text-center font-monospace  fst-italic" style="color: #372c2b;">SIGNOS DEL ZODIACO</h2>
          <div class="row col-md-4 col-6">
            <img src="/img/acuario.png" class="img-fluid float-end" style="width: 13rem;" alt="Imagen">
            <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#acuario" role="button">Acuario</a>
          </div>
          <div class="row col-md-4 col-6 text-center">
            <img src="/img/aries.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
            <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#aries" role="button">Aries</a>
          </div>
          <div class="row col-md-4 col-6 text-center">
            <img src="/img/cancer.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
            <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Cancer</a>
          </div>
          <div class="row col-md-4 col-6 text-center">
            <img src="/img/tauro.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
            <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Tauro</a>
          </div>
          <div class="row col-md-4 col-6 text-center">
            <img src="/img/geminis.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
            <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Geminis</a>
          </div>
          <div class="row col-md-4 col-6 text-center">
            <img src="/img/leo.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
            <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Leo</a>
          </div>
          <div class="row col-md-4 col-6 text-center">
            <img src="/img/piscis.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
            <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Piscis</a>
          </div>
          <div class="row col-md-4 col-6 text-center">
            <img src="/img/libra.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
            <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Libra</a>
          </div>
          <div class="row col-md-4 col-6 text-center">
            <img src="/img/sagitario.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
            <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Sagitario</a>
          </div>
          <div class="row col-md-4 col-6 text-center">
            <img src="/img/scorpio.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
            <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Escorpio</a>
          </div>
          <div class="row col-md-4 col-6 text-center">
            <img src="/img/virgo.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
            <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Virgo</a>
          </div>
          <div class="row col-md-4 col-6 text-center">
            <img src="/img/capricornio.png" class="img-fluid" style="width: 13rem;" alt="Imagen">
            <a class="btn btn-info btn-lg d-md-block border border-info w-50 m-auto" style="background-color:#372c2b; color: #82c4c3;" href="#" role="button">Capricornio</a>
          </div>
        </section>
        <section class="col-md-12">
          <div class="card border-white shadow-lg mb-5" id="acuario">
            <div class="card-header fs-4 bg-dark text-center" style="color: #82c4c3; border-bottom: #82c4c3 solid 2px;">Acuario - Dia</div>
              <div class="card-body bg-dark">
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-8 col-xl-9 text-center text-sm-start">
                    <h5 class="card-title" style="color: #82c4c3;">Acuario</h5>
                    <p class="card-text text-white"><strong>Riqueza:</strong> sus finanzas con serenidad. Usted tiene la capacidad para concretar esos proyectos complicados y disfrutar del éxito sin la ayuda de alguien.</br>
                      <strong>Bienestar:</strong> Propóngase hacer una vida más saludable, evite los excesos en comida y bebidas. Si sale a cenar fuera de su casa, trate de controlarse con lo que come y bebe.</br>
                      <strong>Trabajo:</strong> Será una jornada para dejar al margen sus contradicciones y utilizar una buena estrategia laboral. Contará con muy buenas energías y esto repercutirá en su suerte.
                    </p></div>
                  <div class="col-6 col-md-4 col-xl-3 d-none d-sm-block">
                    <img src="/img/acuario-logo.png" class="figure-img img-fluid rounded-5" style="width: 15rem;" alt="...">
                  </div>
              </div>
            </div>
          </div>
          <div class="card border-white shadow-lg mb-5" id="aries">
            <div class="card-header fs-4 bg-dark text-center" style="color: #82c4c3; border-bottom: #82c4c3 solid 2px;">Aries - Dia</div>
              <div class="card-body bg-dark">
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-8 col-xl-9 text-center text-sm-start">
                    <h5 class="card-title" style="color: #82c4c3;">Aries</h5>
                    <p class="card-text text-white"><strong>Riqueza:</strong> Relájese, ya que podrían haber demoras en las transacciones comerciales. Sepa que necesitará asesorarse antes de invertir sus bienes en ese negocio.</br>
                      <strong>Bienestar:</strong> Relájese, ya que su inconsciente podría jugarle una mala pasada en esa decisión que debe tomar en estos días y es tan importante para su vida.</br>
                      <strong>Trabajo:</strong> En los temas financieros, intente tener más empuje para asumir nuevas responsabilidades. Tome coraje y busque nuevos proyectos para ejecutarlos.
                    </p></div>
                  <div class="col-6 col-md-4 col-xl-3 d-none d-sm-block">
                    <img src="/img/aries-logo.png" class="figure-img img-fluid rounded-5" style="width: 15rem;" alt="...">
                  </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    <footer></footer>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>