<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COTIZACION</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body style="background: linear-gradient(90deg, rgba(88,242,149,1) 0%, rgba(218,233,148,0.5816701680672269) 100%);">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="#">Prog. y Servicios Web</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-dark"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/" target="_blank">PAGINA1</a>
              <a class="nav-link" href="/musica">MUSICA <i class="bi bi-music-note-list"></i></a>
              <a class="nav-link active" href="/cotizacion">COTIZACION<i class="bi bi-currency-dollar"></i></a>
              <a class="nav-link" href="/horoscopo">HOROSCOPO <i class="bi bi-h-square"></i></i></i></a>
            </div>
          </div>
        </div>
    </nav>
    <div class="container row text-center mx-auto mt-5">
    <div class="col-md-8 col-12 d-none d-md-block table-responsive">
    <table class="table table-sm table-bordered border-dark caption-top">
      <caption class="text-center bg-dark text-white">CONVERSOR DE DIVISAS</caption>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">
              <img src="/img/arg-bandera.png" alt="" class="img-fluid" style="width: 35px;">
              <p class="card-title">ARS</P>
            </th>
            <th scope="col">
              <img src="/img/eu-bandera.png" alt="" class="img-fluid" style="width: 35px;">
              <p class="card-title">USD</P>
            </th>
            <th scope="col">
              <img src="/img/eur-bandera.png" alt="" class="img-fluid" style="width: 35px;">
              <p class="card-title">EUR</P>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="width: 8rem;">
              <img src="/img/arg-bandera.png" alt="" class="img-fluid rounded float-start pt-3 d-none d-md-block" style="width: 35px;">
              <div class="text-end">
                <p>1 ARS</p>
                <p>Inverse</p>
              </div>
            </th>
            <td>
              <div>
                <p>1.000000</p>
                <p>1.000000</p>
              </div>
            </td>
            <td>
              <div>
                <p>32.0100000</p>
                <p>1.00100030</p>
              </div>
            </td>
            <td>
              <div>
                <p>23.01000500</p>
                <p>1.050000230</p>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row" style="width: 8rem;">
              <img src="/img/eu-bandera.png" alt="" class="img-fluid rounded float-start pt-3 d-none d-md-block" style="width: 35px;">
              <div class="text-end">
                <p>1 USD</p>
                <p>Inverse</p>
              </div>
            </th>
            <td>
              <div>
                <p>1.2030400</p>
                <p>1.0100300</p>
              </div>
            </td>
            <td>
              <div>
                <p>1.000000</p>
                <p>1.000000</p>
              </div>
            </td>
            <td>
              <div>
                <p>1.01000030</p>
                <p>1.05500100</p>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row" style="width: 8rem;">
              <img src="/img/eur-bandera.png" alt="" class="img-fluid rounded float-start pt-3 d-none d-md-block" style="width: 35px;">
              <div class="text-end">
                <p>1 EUR</p>
                <p>Inverse</p>
              </div>
            </th>
            <td>
              <div>
                <p>1.2000330</p>
                <p>0.1005000</p>
              </div>
            </td>
            <td>
              <div>
                <p>1.01003044</p>
                <p>0.01003000</p>
              </div>
            </td>
            <td>
              <div>
                <p>1.000000</p>
                <p>1.000000</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
      <div class="col-md-4 col-12">
        <form class="row g-3 bg-dark form-control col-12" action="">
          <H3 class="card-title text-white border-bottom border-2">Conversor de Divisas</H3>
          <div class="text-start">
            <label for="inputCantidad" class="form-label text-white">Cantidad:</label>
            <input type="number" class="form-control" id="inputCantidad">
          </div>
          <div class="input-group">
            <label class="input-group-text" for="inputGroupSelect01">De</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Elegi la conversion</option>
              <option value="1">Dolares</option>
              <option value="2">Euros</option>
              <option value="3">Argentinos</option>
            </select>
          </div>
          <div class="input-group">
            <label class="input-group-text" for="inputGroupSelect01">A</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Elegi la conversion</option>
              <option value="1">Dolares</option>
              <option value="2">Euros</option>
              <option value="3">Argentinos</option>
            </select>
          </div>
          <div class="text-start">
            <fieldset disabled>
              <label for="inputCantidad" class="form-label text-white">Total:</label>
              <input type="number" class="form-control" id="inputCantidad">
            </fieldset>
          </div>
          <input class="btn btn-outline-light w-75 mx-auto mb-4" type="submit" value="Convertir">
        </form>
      </div>
    </div>
    <footer></footer>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>